# requirements.txt

# Librerías estándar
matplotlib==3.4.3
numpy==1.21.2
pandas==1.3.3

# Librerías de procesamiento de datos y análisis
gzip==0.9.0
json==2.0.9

# Procesamiento de lenguaje natural
nltk==3.6.3

# Herramientas específicas para el proyecto
zipfile==3.5.0
